body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.images{
  height: 400px;
  width: auto;
  justify-content: center;
  display: flex;
  background-color: orange;
  flex-direction: column;
  align-self: center;
  margin: 20px;
}

.App{
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.drop-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

h1{
  font-family: Arial, Helvetica;
  display: flex;
  justify-content: center;
}

.whole-group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  align-self: center;
}